<section data-ng-controller="BuslinesController" data-ng-init="find()">


    <h1>
        Buslines ({{buslines.length}})
    </h1>


    <md-table-container>
        <table md-table >
            <thead md-head md-order="query.order" md-on-reorder="onReorder">
            <tr md-row>
                <th md-column>Name</th>
                <th md-column>Labels</th>
                <th md-column md-numeric>Stops</th>

            </tr>
            </thead>
            <tbody md-body>
            <tr ng-click="editBusline(busline)" md-row md-select="busstop" md-select-id="{{busline.name}}" md-auto-select
                ng-repeat="busline in buslines">
                <td md-cell>
                    <div>{{busline.name}}</div>
                </td>
                <td md-cell>
                    <div ng-repeat="label in busline.labels track by $index">{{label}}</div>
                </td>

                <td md-cell>
                    <span ng-repeat="stop in busline.stops track by $index">{{stop.name}}<span ng-if="$index < busline.stops.length -1">, </span></span>
                </td>

            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{buslines.length}}"
                         md-on-paginate="onPaginate" md-page-select></md-table-pagination>



</section>
